.decoding-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-height: 600px;
    margin-top: 150px;
  }

.button-container {
  display: flex;
  height: 65vh;
  justify-content: center;
  align-items: center;
} 

.custom-h2 {
  margin: 5vh;
  font-size: 10vh;
}

.custom-p {
  margin: 4vh;
  font-size: 5vh;
}