.decoding-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw; 
}

.decoding-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    min-height: 600px;
    margin-top: 75px;
  }

.button-container {
  display: flex;
  height: 65vh;
  justify-content: center;
  align-items: center;
} 

.custom-h2 {
  margin: 3vh;
  font-size: clamp(24px, 10vw, 75px);
}

.custom-p {
  margin: 2vh;
  /* font-size: 5vh; */
  font-size: clamp(20px, 5vw, 65px);
}

.custom-p-error {
  margin: 2vh;
  font-size: 3vw;
}