.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  position: relative; /* Added this to establish a new stacking context */
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.text-content {
  color: white;
  text-align: center;
  max-width: 70%; /* Adjust this value to control the wrapping behavior */
}

.banner-h1 {
  font-size: calc(2vw + 2rem);
  font-family: 'Nunito', sans-serif;
  padding-bottom: 3vh;
}

.banner-p {
  font-size: calc(1vw + 1rem);
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  padding-bottom: 5%;
}

.banner-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../../assets/images/reading-sunset-yellow.png'); /* Replace with the path to your banner image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: 1; /* Adjust this value as desired */
}

@media screen and (min-width: 1785px) {
  .banner-section {
    background-position: center top -350px; /* Adjust this value as desired */
  }
  .welcome-container {
    height: 100vh; /* Adjust this value as desired */
  }
}

.test-info{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffff;
  position: relative;
  top: px;
  height: 700px;
  z-index: -1;
}

