html, body {
  margin: 0;
  padding: 0;
}

.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  min-height: 500px;
  overflow: hidden;
  position: relative; /* Added this to establish a new stacking context */
}

body {
  background-color: #3d3d3d;
}


.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  min-height: auto;
  z-index: 2;
}

.text-content {
  color: white;
  text-align: center;
  max-width: 80%;
  margin-top: 175px;
}

.banner-h1 {
  font-size: calc(2vw + 2rem);
  font-family: 'Nunito', sans-serif;
  padding-bottom: 3vh;
}

.banner-p {
  font-size: calc(1vw + 1rem);
  font-family: 'Nunito', sans-serif;
  font-weight: 100;
  padding-bottom: 5%;
}

.banner-section {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  overflow: hidden;
  background-image: url('../../assets/images/reading-sunset-yellow.png'); /* Replace with the path to your banner image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  z-index: 1; /* Adjust this value as desired */
}

@media screen and (min-width: 1785px) {
  .welcome-container {
    height: 88vh; /* Adjust this value as desired */
  }
}

.test-info-header {
  font-size: calc(3vw + 2rem);
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 2rem 0;
  font-family: 'GT-Alpina', sans-serif; /* Add this line */
}


.test-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center; 
  background-color: #3d3d3d;
  position: relative;
  top: 0;
  height: auto;
  min-height: auto;
  z-index: 1;
  padding: 0 2rem;
}

.test-info > *:first-child {
  grid-column: 1 / -1;
}


@media (max-width: 649px) {
  .test-info {
    grid-template-columns: 1fr; /* Change to one column for screens less than 650px wide */
  }
}

@media (min-width: 1200px) {
  .test-info {
    grid-gap: 3rem; /* Increase the gap between cards for larger screens */
  }
}