.welcome-container {
  display: flex;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: 100px;
}

.text-content {
  color: white;
  text-align: center;
  max-width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.banner-section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../../assets/images/reading-sunset.jpeg'); /* Replace with the path to your banner image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; /* Aligns the image to the top */
}

@media screen and (min-width: 1400px) {
  .banner-section {
    background-position: center bottom -30px;
  }
}

.yellow-pill-button {
  background-color: #FFC107; /* Yellow */
  border: none;
  border-radius: 25px; /* Pill shape */
  color: #000; /* Text color */
  cursor: pointer;
  font-size: 25px;
  padding: 10px 25px; /* Adjust the padding for medium size */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.yellow-pill-button:hover {
  background-color: #FFD54F; /* Lighter yellow on hover */
}
