/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303030;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

/* Container */
.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

/*Text in Top bar */
.gryfn {
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: 50;
  font-size: 3em;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo-container {
  align-items: center;
  display: flex;
}

.logo {
  height: 40px;
  width: auto;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: center;
  position: fixed;
  top: 10px;
  left: 0;
  right: 10px;
  z-index: 100;
}

nav a {
  background: none;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 18px; /* Increased font size */
  transition: background 0.3s ease;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Main content */
main {
  text-align: center;
  position: relative;
  z-index: 1;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}