
button {
  background-color: #FFC107; /* Yellow */
  border: none;
  border-radius: calc(1vw + 25px); /* Pill shape, updated to use calc() */
  color: #000; /* Text color */
  cursor: pointer;
  font-size: calc(1vw + 20px); /* Font size updated to use calc() */
  padding: calc(1vw + 5px) calc(2vw + 10px); /* Adjust the padding for medium size, updated to use calc() */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFD54F; /* Lighter yellow on hover */
}


/* Container */
.container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

/*Text in Top bar */
.gryfn {
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: 50;
  font-size: 3em;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo-text-container {
  display: flex;
  align-items: center;
  gap: 10px;
  text-shadow: 1px 1px 2px #eed859;
  color: #242424;
  height: 75px;
}

.logo {
  height: 100px;
  width: auto;
}

nav {
  display: flex;
  gap: 10px;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0;
  right: 10px;
  z-index: 100;
}

nav a {
  background: none;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 18px; /* Increased font size */
  transition: background 0.3s ease;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Main content */
main {
  text-align: center;
  position: relative;
  z-index: 1;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}